	<div class="profile__menu-profile">
		<label for="avatar" class="profile__menu-profile-avatar fs fs-11">
			<input id="avatar" type="file" name="avatar" hidden />
		</label>
		<p class="profile__menu-profile-title fs fs-20 fw">{{display_name}}</p>
	</div>
