@import '../../variables/variables';

.button {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-size: 13px;
    line-height: 13px;
    text-align: center;

    border-radius: 8px;
    border: none;
    cursor: pointer;
    padding: 12px;

    &__primary {
        background: $main-color;
        color: #FFFFFF;
    }

    &:hover, :active, :focus {
        opacity: 70%;
    }
}

