@import '../../variables/variables';
@import '../../variables/font';

.chat {

    &__menu {
        position: fixed;
        background-color: #d0c7da;
        top: 0;
        left: 0;
        z-index: 10;
        width: 319px;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transform: translateX(-100%);
        transition: all .6s;

        &.active {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }

        &-profile {
            display: flex;
            align-items: center;
            padding: 15px;
            margin-bottom: 30px;

            &-avatar {
                height: 58px;
                width: 58px;
                border-radius: 50%;
                background: #EFEFEF;
                background-image: url('../../image/profile.svg');
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 12px;
                cursor: pointer;
                z-index: 2;

                &::before {
                    height: 58px;
                    width: 58px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    text-align: center;
                    content: 'Поменять аватар';
                    background: #000000;
                    opacity: 0;
                    border-radius: 50%;
                    transition: all .6s;
                }

                &:hover:before {
                    opacity: 0.5;
                }
            }
        }

        &-info {
            padding: 0px;
        }

        &-item {
            border-bottom: 1px solid #eaeaea;
            justify-content: space-between;
            padding-bottom: 10px;
            display: flex;
            height: 33px;
            cursor: pointer;
            padding: 5px 15px 0;

            &:first-child {
                border-top: 1px solid #eaeaea;
            }

            &:hover,
            :active {
                background-color: $main-color;
            }
        }

        &-label {
            margin: 10px 0;
            color: #1E1E1E;
            text-align: left;
            cursor: pointer;
        }

        &-input {
            text-align: right;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
        }

        &-wrap {
            display: flex;
            flex-direction: column;
            padding: 15px;
            margin-top: 95px;


            &-btn {
                cursor: pointer;
                border-bottom: 1px solid #eaeaea;

                &:first-child {
                    border-top: 1px solid #eaeaea;
                }
            }

        }
    }
}

.button {

    &__link {
        height: 33px;
        font-size: 13px;
        text-align: left;
    }

    &.red {
        color: #CD2727;
    }
}
