<main class="main">
    <form class="signin__container" name="signinForm" action="" id="signinForm" >
        <div class="signin__form">
            <h1 class="signin__title">Вход</h1>
            {{{wrapper}}}
            <div class="signin__button">
                {{{btnPrimary}}}
                {{{btnLink}}}
            </div>
        </div>
    </form>
</main>
