@import '../../variables/variables';
@import '../../variables/font';

.error {

    &__container {
        margin-top: 280px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        color: $main-color;
        margin: 0;
        padding-bottom: 20px;
    }

    &__subtitle {
        text-align: center;
        color: $main-color;
        margin: 0;
        padding-bottom: 69px;
    }

    &__link {
        text-align: center;
        text-decoration: none;
        background: transparent;
        color: $link-color;
        cursor: pointer;

        &:hover,
        :active,
        :focus {
            opacity: 70%;
        }
    }
}
