.edit {
    z-index: 15;
    position: fixed;
    background-color: white;
    top: 30%;
    left: 40%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-300%);
    transition: all .6s;
    width: 340px;
    height: 235px;

    &.active {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    &__title {
        text-align: center;
        margin: 40px 0;
    }

    &__wrap {
        border-bottom: 1px solid #eaeaea;
        justify-content: space-between;
        margin-bottom: 10px;
        display: flex;
        height: 33px;
        // margin: 25px;
        margin: 5px 25px;

        &.last {
            border-bottom: none;
        }
    }

    &__label {
        margin: 10px 0;
        color: #1E1E1E;
        text-align: left;
        cursor: default;
    }

    &__input {
        text-align: right;
        background: none;
        border: none;
        outline: none;
    }

    &__btn {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    &__password {
        height: 300px;
    }
}
