<main class="main">
    <form class="signup__container" name="signupForm" action="" id="signupForm">
        <div class="signup__form">
            <h1 class="signup__title fs fs-20">Регистрация</h1>
            {{{wrapper}}}
            <div class="signup__button">
                {{{btnPrimary}}}
                {{{btnLink}}}
            </div>
        </div>
    </form>
</main>
