<main class="main">
    <div class="main__container">
        <h1 class="">Pages</h1>
        <nav>
            <ul class="pageList">
                <li class="pageList_item"><a href="../../pages/Signin/Signin.html">Sign in</a></li>
                <li class="pageList_item"><a href="../../pages/Signup/Signup.html">Sign up</a></li>
                <li class="pageList_item"><a href="../../pages/Chat/Chat.html">Chat</a></li>
                <li class="pageList_item"><a href="../../pages/profile/profile.html">Profile</a></li>
                <li class="pageList_item"><a href="../../pages/editPass/editPass.html">Edit Password</a></li>
                <li class="pageList_item"><a href="../../pages/editFirstName/editFirstName.html">Edit First name</a></li>
                <li class="pageList_item"><a href="../../pages/editSecondName/editSecondName.html">Edit Second name</a></li>
                <li class="pageList_item"><a href="../../pages/editDisplayName/editDisplayName.html">Edit Display name</a></li>
                <li class="pageList_item"><a href="../../pages/editLogin/editLogin.html">Edit Login</a></li>
                <li class="pageList_item"><a href="../../pages/editEmail/editEmail.html">Edit Email</a></li>
                <li class="pageList_item"><a href="../../pages/editPhone/editPhone.html">Edit Phone</a></li>
                <li class="pageList_item"><a href="../../pages/404/404.html">404</a></li>
                <li class="pageList_item"><a href="../../pages/500/500.html">500</a></li>
            </ul>
        </nav>
    </div>
</main>
