<main class="main">
    <div class="main__container">
        <h1 class="">Pages</h1>
        <ul class="pageList">
            <li class="pageList_item"><a href="../../pages/signin/signin.html">Sign in</a></li>
            <li class="pageList_item"><a href="../../pages/signup/signup.html">Sign up</a></li>
            <li class="pageList_item"><a href="../../pages/chat/chat.html">Chat</a></li>
            <li class="pageList_item"><a href="../../pages/404/404.html">404</a></li>
            <li class="pageList_item"><a href="../../pages/500/500.html">500</a></li>
        </ul>
    </div>
</main>