.modal {
  .active {
    display: block;
  }

  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);

  &__container {
    max-height: 400px;
    padding: 20px;
    display: none;
    overflow-y: auto;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.search__input {
  display: block;
  width: 95%;
}

.photo-input {
  &-avatar {
    width: 100px;
    height: 100px;
  }
}

.user-item {
  margin-bottom: 20px;
}

.user__item {
  &-name {
    margin: 5px;
  }
}

.users__list {
  list-style: none;
}
