<main class="main">
	<form id="form" class="signin__form" name="signinForm">
		<div class="signin__container">
			<h1 class="signin__title fs fs-20">Вход</h1>
			<wrapper class="wrapper signin_wrapper">
				{{{inputLogin}}}
				{{{inputPass}}}
			</wrapper>
			<span id="error_form" class="signin__error fs fs-9"></span>
			<div class="signin__button">
				{{{btnPrimary}}}
				{{{btnLink}}}
			</div>
		</div>
	</form>
</main>
