.main {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin {
  &__form {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 450px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
  }

  &__container {
    height: 100%;
    display: flex;
    padding: 50px 30px 30px;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    text-align: center;
    margin: 0;
    color: #1e1e1e;
    cursor: default;
  }

  &_wrapper {
    display: flex;
    margin-bottom: 90px;
    border: none;
  }

  &__button {
    display: flex;
    flex-direction: column;
  }

  &__error {
    margin: 0;
    color: #ff2f2f;
    cursor: default;
  }
}

.wrapper {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
