<div class="modalSetting" name="modalSetting">
	<div class="modalSetting__container">
		<ul class="modalSetting__list">
			<li data-action="addUsers" class="modalSetting__item fs fs-13">Добавить участников</li>
			<li data-action="removeChat" class="modalSetting__item fs fs-13 removeChat">Удалить чат</li>
		</ul>
	</div>
</div>
