@import '../../variables/variables';

.buttonLink{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 11px;
    line-height: 11px;
    border: none;
    cursor: pointer;
    color: $link-color;
    background: transparent;

    
    &:hover, :active, :focus {
        opacity: 70%;
    }
}
