.buttonLink{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 11px;
    line-height: 11px;
    border: none;
    cursor: pointer;
    color: #1B0835;
    background: transparent;

    
    &:hover, :active, :focus {
        opacity: 70%;
    }
}

// .buttonLink_red {
//     color: #FF0000;
// }

// .buttonLink_center{
//     font-size: 11px;
//     line-height: 11px;
//    text-align: center;

// }