@import "../../variables/font";

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__label {
    margin: 0;
    color: #999;
    cursor: default;
  }

  &__input {
    padding-bottom: 3px;
    border: none;
    border-bottom: 1px solid #bdb0cc;
    color: #1e1e1e;

    &::placeholder {
      color: #999;
    }

    &:focus,
    :active,
    :focus-visible {
      outline: none;
      background-color: transparent !important;
    }
  }

  &__message {
    margin: 0;
    color: #ff2f2f;
    cursor: default;
  }
}
