<div class="profile__menu-profile">
	<div class="photo-input">
		<img class="photo-input__image" onerror="this.style.display='none'" src="{{value}}" alt="{{imageAlt}}">
	</div>
	<p class="profile__menu-profile-title fs fs-20 fw">{{display_name}}</p>
</div>
