@import "./variables/variables";

.main__container {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #1b0835;
  caret-color: transparent;
}

.nav__menu {
  z-index: 10;
  position: fixed;
  padding-bottom: 15px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  caret-color: transparent;
}

.page_list {
  margin: 0;
  padding: 4px;

  li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
  }
}

.menu__link {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: $main-color;
}
