<div class="message {{classMsg}}" id={{id}}>
    {{#if text}}
    <p class="message__text fs fs-12">{{text}}</p>
    {{/if}}
    <div class="message__infMsg">
        <p class="message__infMsg-check"></p>
        <p class="message__infMsg-time fs fs-9 lh">{{time}}</p>
    </div>
</div>
